
#hero{
    margin-top: 70px;
    margin-bottom: 10px;
    width: 100%; 
    min-height: 100vh;
     background-image: url(./images/food.jpg);
      background-size: 100%;
      border-radius: 25px;
      display: flex;
      
}
#card1{
    text-align:center;
}
#card1 h3{
    color: #fa2a05;
  
}
#card1 p{
    font-size: 13px;
    
}
#card1 h5{
    color: #fa2a05;
}
@media screen and (max-width: 768px) {
    #hero{
        display: flex;
        flex-direction: column;
    }
    
    
}